{% extends 'base.html' %}
{% load blog_extras %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container " >
				    <div class="vertical-middle">

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';">{{ asset.asset_display_name }} Blog</h2>

                                    {% if errors %}
                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}

                                <p><button class="btn btn-default" onclick="location.href='new'">Add New Post >></button></p>

                                {%  if posts %}
                                        {% for post in posts %}
                                            <div>
                                                <div>
                                                    {{ post.created_date | started_time }} | {{ post.num_views }}
                                                {%  with total=post.num_views %}view{{ total|pluralize }}{%  endwith %}
                                                </div>
                                                <h1><a href="{%  url 'post_detail' asset.id post.id %}">{{ post.title }}</a><small><small> by {{ post.author.first_name }} {{ post.author.last_name }}</small></small></h1>
                                                <p> {% autoescape off %}{{ post.content|truncatewords:30 }}{% endautoescape %}</p>
                                                <p><button class="btn btn-default" onclick="location.href='{{ post.id }}'">Read More >></button></p>
                                                <hr>
                                            </div>
                                        {% endfor %}
                                {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}