{% extends 'base.html' %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}

        {% block head_js %}
            <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
            <script>
                tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'})
            </script>
        {% endblock %}

        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider">

{#			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">#}
        <div class="nopadding nomargin noborder" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container " >
{#				    <div class="vertical-middle">#}
                  <div >

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';">{{ asset.asset_display_name }} Blog</h2>

                                    {% if errors %}

                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}

                                    {% else %}
{#enctype="multipart/form-data"#}
                                        <h1>New Post</h1>
                                        <form role="form" method="POST" enctype="multipart/form-data" >
                                            {% csrf_token %}
                                            {{ form | as_bootstrap }}


                                             <div class="form-group">

                                                <button type="submit" class="t400 capitalize button button-border button-dark button-circle nomargin">Save</button>
                                            </div>



                                        </form>
<button class="t400 capitalize button button-border button-dark button-circle nomargin" onclick="location.href='/blog/blog/{{ asset.id }}/{{ post.id }}'"><i class="fa fa-backward"></i> Cancel</button>
                                    {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}