{% extends 'base.html' %}
{% load blog_extras %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container " >
				    <div class="vertical-middle">

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';">{{ asset.asset_display_name }} Blog</h2>

                                    {% if errors %}
                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}

                                    {% else %}

                                        {%  if post %}

                                                <div>
                                                    <div>
                                                        {{ post.created_date | started_time }} | {{ post.num_views }}
                                                {%  with total=post.num_views %}view{{ total|pluralize }}{%  endwith %}
                                                    </div>
                                                    <h1>{{ post.title }} <small><small>by {{ post.author.first_name }} {{ post.author.last_name }}</small></small></h1>
                                                    {%  if post.image %}
                                                       <div class="row">
                                                        <div class="col-sm-2">
                                                           <img class="img-rounded img-responsive"  src="/media/{{ post.image }}">
                                                       </div>
                                                    {%  endif %}
                                                    <p> {% autoescape off %}{{ post.content|linebreaks }}{% endautoescape %}</p>

                                                    <p><button class="btn btn-default" onclick="location.href='/blog/blog/{{ asset_id }}'"><i class="fa fa-backward"></i> Back to Blog</button>

                                                    {% if show_edit or user.is_staff %}
                                                    <button class="btn btn-default" onclick="location.href='/blog/blog/{{ asset_id }}/{{ post.id }}/edit'">Edit <i class="fa fa-pencil-square-o"></i> </button>
                                                    <button class="btn btn-default" onclick="location.href='/blog/blog/{{ asset_id }}/{{ post.id }}/delete'">Delete <i class="fa fa-trash-o"></i> </button>
                                                    {% endif %}
                                                    </p>

                                                    {% load disqus_tags %}
                                                    {% set_disqus_title post.title %}
                                                    {% disqus_show_comments %}

                                                </div>


                                        {% endif %}

                                    {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}