{% extends 'base.html' %}



    {% block content %}
    {% load staticfiles %}
        		<!-- Slider
		============================================= -->
		<section id="slider" class="full-screen slider-parallax">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'images/ought3.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container dark">
					<div class="vertical-middle">

						<div class="emphasis-title nobottommargin">



                            <div class="hidden-xs">

                                <div data-animate="fadeInDown" data-delay="5500">
                                    <h1 class="t700 ls3 bottommargin-sm" style="font-family: 'Montserrat',sans-serif ;">
                                        <span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn"  data-speed="5500">
                                            <span class="t-rotate">  | WHERE | WHAT | WHEN | WHY  </span>
                                        </span>
                                    </h1>
                                </div>
                                <br>
                                <div data-animate="fadeIn" data-delay="1000" style="font-family: 'Playfair Display'; font-style: italic; text-transform: lowercase; color: #FFF; font-size: 50px;">do you

                                </div>
                                <br>
                                <br>
                                <div class="t700 uppercase ls3 bottommargin-sm" style="font-family: 'Montserrat',sans-serif; font-size:60px" data-animate="fadeIn" data-delay="2500"> SHARE

                                   <span data-animate="fadeIn"  data-delay="4000" style="font-family: 'Montserrat', sans-serif; color: #FFF; font-size: 60px;">?</span>
                                </div>
                            </div>


                            <div class="visible-xs">
                                    <span class="t700 ls3 bottommargin-sm" style="font-family: 'Montserrat', sans-serif; font-size:60px">WHERE</span><br>
                                    <span style="font-family: 'Playfair Display'; font-style: italic; text-transform: lowercase; color: #FFF; font-size: 40px;">do you</span><br>
                                    <span class="t700 uppercase ls3 bottommargin-sm" style="font-family: 'Montserrat',sans-serif; font-size:60px"> SHARE?</span>
                            <div>



                            <div class="emphasis-title vertical-middle left"></div>



					</div>
				</div>


			</div>

		</section><!-- #slider end -->



    {% endblock %}


