{% extends 'base.html' %}
{% load booking_extras %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
    {% load assets_extras %}
        {% block head_style %}

        {% endblock %}

        {% block head_js %}


        {% endblock %}
        <!-- Slider ============================================= -->
        <section id="slider" class="full-screen  slider-parallax" xmlns="http://www.w3.org/1999/html">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/ought5.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container dark" >
				    <div class="vertical-middle" >

				        <div id="section-about" class="page-section">

					        <div class="container clearfix">

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 20px; font-family: 'Playfair Display';">Profile Settings | {{ user.first_name }} {{ user.last_name }}</h2>

                                        <div data-animate="fadeInUp" class="lead divleft bottommargin" style="max-width: 700px; ">
                                            <span style="font-family: 'Playfair Display'">  </span> </div>

                                        <div data-animate="fadeInUp" class="col_half">


                                            {% if assets %}
                                            <p>
                                                {% for asset in assets %}

                                                    <p>

                                                    <div class="dropdown">

                                                        <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                                                            {%  if asset.is_owner %}
                                                            {{ asset.asset_ID.asset_display_name }} (Owner)
                                                                {% else %}
                                                                {{ asset.asset_ID.asset_display_name }}
                                                            {%  endif %}
                                                            <span class="caret"></span></button>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="{% url 'asset_detail' asset.asset_ID_id %}">View Details</a></li>
                                                            <li class="divider"></li>

                                                            {% get_total_pending asset.asset_ID user.id num_bookings=True as totes_pending %}
                                                                {%  if totes_pending > 0 %}
                                                                    <li><a href="">Pending Requests <span class="badge">{% get_total_pending asset.asset_ID user.id num_bookings=True %}</span></a></li>
                                                                {% endif %}
                                                            {% get_total_for_confirmation asset.asset_ID user.id num_bookings=True as totes_confirm %}
                                                                {% if totes_confirm > 0 %}
                                                                <li><a href="">Requests to Confirm <span class="badge">{% get_total_for_confirmation asset.asset_ID user.id num_bookings=True %}</span></a></li>
                                                                {% endif %}

                                                                <li><a href="{% url 'all_future_asset_bookings' asset.asset_ID_id user.id %}">View My Bookings</a></li>


                                                                <li><a href="{% url 'make_a_booking' asset.asset_ID_id %}">Make a Booking</a></li>
                                                                <li><a href="{% url 'all_future_asset_bookings' asset.asset_ID_id %}">View All Bookings</a></li>
                                                            <li class="divider"></li>
                                                                <li><a href="{% url 'post_list' asset.asset_ID_id %}">{{ asset.asset_ID.asset_display_name }} Blog</a></li>
                                                                <li><a href="{% url 'forum' asset.asset_ID_id %}">{{ asset.asset_ID.asset_display_name }} Forum</a></li>

                                                                {%  if asset.is_owner %}
                                                                    {% get_total_for_approval asset.asset_ID user.id num_bookings=True as totes_approve %}
                                                                    {% if totes_approve > 0 %}
                                                                    <li class="divider"></li>
                                                                    <li><a href="">{{ asset.asset_ID.asset_display_name }} Pending Requests <span class="badge">{% get_total_for_approval asset.asset_ID user.id num_bookings=True %}</span></a></li>
                                                                    {% endif %}
                                                                {%  endif %}



                                                            </ul>

                                                    </div>
                                                    </p>



                                                {% endfor %}


                                            </p>
                                            {% else %}
                                               <p>You are not sharing anything...yet!</p>

                                            {% endif %}
                                            <div>

                                                    <form role="form" method="post" action="">
                                                        {% csrf_token %}
                                                         {{ invitecodeform | as_bootstrap}}
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Submit the Code</button>{% if code_message %}{{ code_message }}{% endif %}
                                                        </div>
                                                    </form>

                                            </div>

                                        </div>
                                        <div class="clear"></div>

                                        <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}