{% extends 'base.html' %}
{% load booking_extras %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
{#		<section id="slider" class="full-screen  slider-parallax">#}
{##}
{#			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">#}
{##}
{#				<div class="container " >#}
{#				    <div class="vertical-middle">#}
{##}
{#				        <div id="section-about" class="page-section">#}
{##}
			                <br><br>
					       		        <div class="container "> <!--clearfix removed-->

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';">Booking | {{ asset.asset_display_name }}</h2>

                                {%  if errors %}
                                     {% for error in errors %}
                                           <p style="color:red">{{ error }}</p>
                                     {% endfor %}
                                {% else %}

                                        {% if booking %}

                                                <p> <span style="font-family: 'Playfair Display'">Booking Reference:</span><span style="font-family: 'Calibri'; font-weight:bold"> {{ booking.booking_id }}</span>


                                                <br>
                                                <span style="font-family: 'Playfair Display'">Total days:</span><span style="font-family: 'Calibri'; font-weight:bold"> {% get_total_days_in_booking booking.booking_id %}</span>
                                                <br>
                                                <span style="font-family: 'Playfair Display'">Requested By:</span> <span style="font-family: 'Calibri'; font-weight:bold">{{ booking.requested_by_user_ID.first_name }} {{ booking.requested_by_user_ID.last_name }} on {{ booking.date_created | date:"d M Y" }}</span>
                                                <br>
                                                <span style="font-family: 'Playfair Display'">Confirmed:</span> <span style="font-family: 'Calibri'; font-weight:bold">

                                                        {% is_booking_confirmed booking.booking_id as the_answer %}
                                                        {% get_confirmed_date booking.booking_id as confo_date %}
                                                        {% if the_answer == False %}
                                                            Not Yet
                                                        {% else %}
                                                            Yes on {{ confo_date | date:"d M Y" }}
                                                        {%  endif %}

                                                    </span>
                                                <br>
                                                    {% if formset_owner %}
                                                        <div class="col_half">
                                                            {% include "owner_approval_form.html" %}
                                                        </div>
                                                    {% elif formset_requestor_to_confirm %}
                                                        <div class="col_half">
                                                        {% include "requestor_form_to_confirm.html" %}
                                                        </div>
                                                    {% elif formset_requestor_confirmed %}
                                                        <div class="col_half">
                                                        {% include "requestor_form_confirmed.html" %}
                                                        </div>

                                                    {% else %}
                                                        <div class="col_half">
                                                            <table class = "table table-striped">
                                                                <thead>
                                                                    <tr>

                                                                        <th>Date</th>
                                                                        <th>Booking Status</th>
                                                                        <th>Slot Owner</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                {%  for item in booking_detail %}

                                                                    <tr>

                                                                        <td>{{ item.booking_date | date:"D"}}, {{ item.booking_date | date:"d M Y"}}</td>
                                                                        <td>{% get_booking_date_status item.pk %} </td>
                                                                        <td>{{ item.slot_owner_id.first_name }} {{ item.slot_owner_id.last_name }}</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                {% endfor %}

                                                                 </tbody>
                                                            </table>
                                                        </div>
                                                    {% endif %}
                                            <br>
                                                <p>
                                                {%  if new == "new" %}

                                                    <a href="{% url 'all_asset_bookings' asset.id user.id %}">View My Bookings</a>

                                                {% else %}

                                                    <a href="{{ request.META.HTTP_REFERER }} " class="btn btn-primary">Back </a>

                                                {% endif %}
                                                </p>

                                            {% if include_delete_booking_button %}
                                                    <a href="{% url 'delete_booking' booking.booking_id %}" class="btn btn-primary" >Delete Booking</a>
                                            {% elif user.is_superuser %}
                                                <a href="{% url 'delete_booking' booking.booking_id %}" class="btn btn-primary" >Delete Booking</a>
                                            {% endif %}
















                                        {% else %}

                                                You have no future bookings <br>

                                        {% endif %}
                            {% endif %}






                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>
{##}
{#                       </div>#}
{##}
{#					</div>#}
{#				</div>#}
{##}
{#			</div>#}

{#		</section> <!--#slider end -->#}



    {% endblock %}