{% extends 'base.html' %}
{% load booking_extras %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_js %}


        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/booking.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container dark " >
				    <div class="vertical-middle">

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->

                            {% if user_ok == True %}

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';">Check Availability | {{ the_asset.asset_display_name }}</h2>

                                    <div data-animate="fadeInUp" class="lead divleft bottommargin"  style="max-width: 700px;">
                                             <form role="form" method="get" action="{% url 'make_a_booking' the_asset.id %}">
                                                <div>
                                                 {{ booking_form | as_bootstrap }}
                                                 </div>
                                                {% if errors %}
                                                    {% for error in errors %}
                                                        <p style="color:red">{{ error }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Check Availability</button>
                                                </div>
                                            </form>
                                    </div>

                                    <div class="col_four_fifth">

                                        {% if owner_date_object %}
                                             <p><span style="font-family: 'Playfair Display'">
                                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                                 You are checking {{ owner_date_object | get_total_days_requested }}
                                                 date{{ owner_date_object | get_total_days_requested | pluralize }}<br>

                                             {% with totes_unavail=owner_date_object|get_total_days_unavailable %}
                                                 {% if totes_unavail > 0 %}
                                                      <i class="fa fa-times" aria-hidden="true"></i>

                                                     {% with totes_requested=owner_date_object|get_total_days_requested %}
                                                        {% if totes_unavail == totes_requested %}

                                                            {{ totes_unavail|pluralize:"It is,They are"}} unavailable

                                                        {% else %}
                                                             {{ owner_date_object | get_total_days_unavailable }}
                                                             of {{ owner_date_object | get_total_days_unavailable |pluralize:"them,these dates"}}
                                                             {{ owner_date_object | get_total_days_unavailable | pluralize:"is,are"}}
                                                            unavailable<br>

                                                         {% endif %}
                                                     {% endwith %}

                                                {% else %}
                                                     <i class="fa fa-check" aria-hidden="true"></i>
                                                     The {{ owner_date_object | get_total_days_available | pluralize:"date is, dates are" }}
                                                     available <br>
                                                 {% endif %}
                                             {% endwith %}

                                             {% with totes_avail=owner_date_object|get_total_days_available %}
                                                {% if totes_avail > 0 %}
                                                    {%  with total=owner_date_object|length %}
                                                     {% if total > 1 %}
                                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                    {% else %}
                                                         <i class="fa fa-user" aria-hidden="true"></i>
                                                    {% endif %}
                                                {%  endwith %}
                                                     The available
                                                    date{{ owner_date_object | get_total_days_available | pluralize}}
                                                        can be requested from the following
                                                    {%  with total=owner_date_object|length %}
                                                         Owner{{ total|pluralize }}:
                                                    {%  endwith %}
                                                 {% endif %}
                                             {% endwith %}
                                             </span>
                                                    <table class = "table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Owner</th>
                                                                <th>Owner From</th>
                                                                <th>Owner Until</th>
                                                                <th>Requested From</th>
                                                                <th>Requested Until</th>
                                                                <th>Requested</th>
                                                                <th>Available</th>
                                                                <th>{{ owner_date_object.numberOfSlots }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for owner in owner_date_object %}
                                                                <tr>
                                                                    <td>{{ owner.first_name }} {{ owner.last_name }}</td>
                                                                    <td>{{ owner.start_for_owner}}</td>
                                                                    <td>{{ owner.end_for_owner }}</td>
                                                                    <td>{{ owner.start_requested}}</td>
                                                                    <td>{{ owner.end_requested}}</td>
                                                                    <td>{{ owner.days_requested }}</td>
                                                                    <td>

                                                                        {% if owner.days_requested > owner.days_available %}
                                                                            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#{{ owner.slot_id }}">
                                                                            {{ owner.days_available }}
                                                                            </button>
                                                                        {% else %}

                                                                            {{ owner.days_available }}

                                                                        {% endif %}

                                                                    </td>
                                                                    <td>
                                                                        {% if owner.days_requested > owner.days_available %}
                                                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                                        {% else %}

                                                                            <i class="fa fa-check" aria-hidden="true"></i>

                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                             {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    {% for owner in owner_date_object %}
                                                        <div id = "{{ owner.slot_id }}" class="collapse">
                                                            {% for item in owner.date_span_unavailable_detail %}
                                                                {% if item.requested_by_user_id.id == user.id %}
                                                                    You already have
                                                                {% else %}
                                                                    {{ item.requested_by_user }} has
                                                                {% endif %}
                                                                a {{ item.status }} Booking on {{ item.date_booked}}   <br>
                                                            {% endfor %}

                                                        </div>
                                                    {% endfor %}
                                            </p>

                                            {% with totes_avail=owner_date_object|get_total_days_available %}
                                                {% if totes_avail > 0 %}
                                                <div class="col_half">
                                                    <form role="form" method="post" action="{% url 'make_a_booking' the_asset.id %}">
                                                        {% csrf_token %}
                                                        <div class="hidden">
                                                                 {{ booking_form | as_bootstrap }}
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Request the available date{{ owner_date_object | get_total_days_available | pluralize}}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </div>





                            {%  else %}


                                    {% if errors %}
                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}

                            {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}