{% extends 'base.html' %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_js %}

            <script type="text/javascript">

                $(document).ready(function(){
                    $(function() {
                         $("#id_end_date").datepicker({ dateFormat: 'yy-mm-dd'});
                         $("#id_start_date").datepicker({ dateFormat: 'yy-mm-dd'});
                    });
                });
            </script>

        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/booking.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container dark" >
				    <div class="vertical-middle">

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';">New Booking for {{ the_asset.asset_display_name }}</h2>

                                    <div class="col_half">

                                        <p data-animate="fadeInUp" class="lead divleft bottommargin" style="max-width: 700px;">

                                             <legend data-animate="fadeInUp">New Booking</legend>
                                                 <form role="form" method="get" action="{% url 'make_a_booking' the_asset.id %}">
                                                    <div>
                                                     {{ booking_form | as_bootstrap }}
                                                     </div>
                                                    {%  if errors %}
                                                            {% for error in errors %}
                                                                <p style="color:red">{{ error }}</p>
                                                            {% endfor %}
                                                        {% endif %}
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Check Owner</button>
                                                    </div>
                                                </form>

                                                {% if owner_date_object %}
                                                    <p> <span style="font-family: 'Playfair Display'">Your date range (of {{ total_days_requested }} nights) belongs to the following
                                                        {%  with total=owner_date_object|length %}
                                                             Owner{{ total|pluralize }}: </span>
                                                        {%  endwith %}
                                                        <div class="col_full">
                                                            <table class = "table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Owner</th>
                                                                        <th>From</th>
                                                                        <th>Until</th>
                                                                        <th align="center">Nights Requested</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    {% for owner in owner_date_object %}
                                                                        <tr>
                                                                            <td>{{ owner.first_name }} {{ owner.last_name }}</td>
                                                                            <td>{{ owner.start_for_owner}}</td>
                                                                            <td>{{ owner.end_for_owner }}</td>
                                                                            <td align="center">{{ owner.days_requested }}</td>

                                                                        </tr>

                                                                    {% endfor %}
                                                                 </tbody>
                                                            </table>
                                                        </div>
                                                    </p>
                                                {% endif %}

                                                <form role="form" method="post" action="{% url 'make_a_booking' the_asset.id %}">
                                                    {% csrf_token %}
                                                  <!-- <div class="input-daterange">
                                                     {{ booking_form | as_bootstrap }}
                                                     </div> -->
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Send Booking Request</button>
                                                    </div>
                                                </form>

                                        </p>




                                     </div>

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}