{% load booking_extras %}

    <form method="post" action="">
        <div class = "table-responsive">
            <table class = "table">

                <thead>
                    <tr>

                        <th>Date</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Update To</th>
                    </tr>
                </thead>
                <tbody>
                {% csrf_token %}
                    {{ formset_owner.management_form }}
                        {% for form in formset_owner %}
                            {{ form.id }}
                            <tr>
                                {% with form.booking_date.value as the_id %}
                                    <td>{{ the_id | date:"D, d M Y "}} {{ form.booking_date }}</td>
                                {% endwith %}
                                {% with form.id.value as the_f_id %}
                                    <td>{%  get_booking_date_status the_f_id %}</td>
                                    <td>{%  get_booking_date_owner the_f_id %}</td>
                                {% endwith %}


                                <td> <span data-toggle="popover" data-html=true title="You are approving..." data-placement="top" data-trigger="hover"
                                     data-content="<table class='table'>
                                                    <tr>
                                                    <td>
                                                    {% with form.booking_date.value as the_id %}
                                                        {{ the_id | date:"D, d M Y "}}
                                                    {% endwith %}

                                                    </td>
                                                    </tr>
                                                    </table>">Approved {{ form.is_approved }}</span>
                                    <span data-toggle="popover" data-html=true title="You are denying..." data-placement="top" data-trigger="hover"
                                     data-content="<table class='table'>
                                                    <tr>
                                                    <td>
                                                    {% with form.booking_date.value as the_id %}
                                                        {{ the_id | date:"D, d M Y "}}
                                                    {% endwith %}

                                                    </td>
                                                    </tr>
                                                    </table>">&nbsp &nbsp  Denied {{ form.is_denied }}</span></td>

                            </tr>

                        {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="400 capitalize button button-border button-blue button-circle nomargin">Submit</button>

    </form>
