{% load booking_extras %}

    <form method="post" action="">
        <table class = "table table-striped">
        <thead>
            <tr>

                <th>Date</th>
                <th>Current Status</th>
                <th>Owner</th>
                <th>Remove Date?</th>
            </tr>
        </thead>
        <tbody>
        {% csrf_token %}
            {{ formset_requestor_confirmed_or_pending.management_form }}
                {% for form in formset_requestor_confirmed_or_pending %}
                    {{ form.id }}
                    <tr>
                        {% with form.booking_date.value as the_id %}
                             <td>{{ the_id | date:"D, d M Y "}} {{ form.booking_date }}</td>
                        {% endwith %}
                        {% with form.id.value as the_f_id %}
                        <td>{%  get_booking_date_status the_f_id %}</td>

                        <td>{%  get_booking_date_owner the_f_id %}</td>
                        {% endwith %}
                        <td>{{ form.DELETE }}</td>

                    </tr>

                {% endfor %}
        </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Delete Selected Dates</button>
        {% if include_delete_booking_button %}
            <a href="{% url 'delete_booking' booking.booking_id %}" class="btn btn-primary" >Delete Entire Booking</a>
    {% endif %}
    </form>
