{% extends 'base.html' %}
    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                input {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 2px 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: none;
               }
             @media screen and (max-width: 480px) {
                    #the_padding {padding: 10px;}
                }

            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
{#		<section id="slider" class="full-screen slider-parallax ">#}
        		<section id="slider" class="full-screen">
        <div class="slider-parallax-inner">
			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/stones.jpg' %}) bottom center no-repeat; background-size: cover;">

                <div class="row nomargin" style="position: relative; z-index: 2;">
						<div class="col-md-offset-2 col-md-5 full-screen" style="background-color: rgba(0,0,0,0.45);">
							<div id="the_padding" class="vertical-middle col-padding">
								<div class="heading-block nobottomborder bottommargin-sm dark">
									<h1 style="max-width: 700px;font-style: normal; font-size: 40px; font-family: 'Titillium Web';">{{ flatpage.title }}</h1>
									<div class="not-dark">
                                        <span style="font-size: 16px;" class="t300 capitalize ls1 notopmargin"></span></div>
								</div>
                                <div class="dark" style="max-width: 700px; font-size:18px; font-family: 'Titillium Web';">
                                {{ flatpage.content }}
                                    </div>

							</div>

						</div>
                </div>

			</div>
        </div>
		</section> <!--#slider end -->



    {% endblock %}


