{% extends 'base.html' %}
{% load forum_extras %}

    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}

        {% block head_js %}
           <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
           <script>
               tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'})
           </script>
        {% endblock %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
       <section id="content">
			<div class="content-wrap">
                <div class="container clearfix">

                        <div class="fancy-title title-bottom-border">
                        <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';"> {{ thread.name }}
                            <div class="visible-xs"><br></div>
                            <small><small>({{ asset.asset_display_name }} | {{ subject.name }}) </small> </small></h2>
                        </div>


                        {% if errors %}
                            {% for error in errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %}
                        {% else %}

                            <section>

                               <form method="post" action="{{ form_action }}">
                                   {% csrf_token %}
                                   {{ form | as_bootstrap }}
                                    {% if content_error %}
                                    <div class="sb-msg" style="color: red"><i class="icon-warning-sign"></i><strong>Warning!</strong>  {{ content_error }}</div><br>
                                    {% endif %}
                                   <div class="form-group">
                                       <button type="button" class="t400 capitalize button button-border button-blue button-circle nomargin" onclick="location.href='/forum/forum/{{ asset.id }}/{{ subject.id }}/{{ thread.id }}'"><i class="fa fa-backward"></i> Cancel</button>
                                       <button type="submit" class="t400 capitalize button button-border button-blue button-circle nomargin">{{ button_text }}</button>
                                   </div>
                               </form>

                            </section>


                        {% endif %}

                        <div class="clear"></div>

                        <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}