{% extends 'base.html' %}
{% load forum_extras %}

    {% load bootstrap_tags %}
{% load emoticons_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  ">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container " >


				    <div class="vertical-middle">

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->
                                <div class="fancy-title title-bottom-border">
                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';"> {{ thread.name }}
                                    <div class="visible-xs"<br></div>
                                    <small><small>({{ asset.asset_display_name }} | {{ subject.name }}) </small> </small></h2>
                                </div>

                                    {% if errors %}
                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}

                                        {% if thread %}

                                                <small>Started by: {{ thread.user.first_name }} {{ thread.user.last_name }} |
                                                        <time datetime="{{ thread.created_at}}">{{ thread.created_at | started_time}}</time> | {{ thread.num_views }}
                                                    {%  with total=thread.num_views %}view{{ total|pluralize }}{%  endwith %}</small>
                                                    <p><small>Latest post: {{ thread | last_posted_user_name }}</small></p>




                                            <p>
                                                <a href="{% url 'threads' asset.id subject.id %}" class="btn btn-primary">Back to {{ subject.name }}</a>
                                                <a href="{% url 'new_post' asset.id subject.id thread.id %}" class="btn btn-primary">Add Post</a>
                                            <hr>
                                            </p>

                                            {% for post in thread.posts.all %}

                                                <section class="post">
                                                    <div>
                                                   <i>{{ post.user.first_name }} {{ post.user.last_name }} says:</i>
                                                    </div>
                                                    <div class="comment-content">
                                                    <blockquote class="quote">

                                                     {% autoescape off %}
                                                       {{ post.comment|emoticons }}
                                                     {% endautoescape %}
                                                    </blockquote>

                                                    </div>
                                                    <div>

                                                        <div class="details">

                                                            <div>Posted: <time datetime="{{ post.created_at }}">{{ post.created_at | started_time }}</time></div>

                                                            <div>
                                                                {% if user.is_staff or post.user == user %}

                                                                    <a href="{% url 'edit_post' asset.id subject.id thread.id post.id %}">Edit <i class="fa fa-pencil-square-o"></i></a>
                                                                    <a href="{% url 'delete_post' asset.id subject.id thread.id post.id %}">Delete <i class="fa fa-trash-o"></i></a>
                                                                    <hr>
                                                                    <br>

                                                                {% endif %}
                                                            </div>
                                                            <div class="clearfix"></div>

                                                        </div>

                                                    </div>
                                                </section>

                                            {% endfor %}

                                        {% endif %}



                                    {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}