{% extends 'base.html' %}
{% load forum_extras %}

    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}
        <!-- Slider ============================================= -->
		<section id="slider" class="full-screen  slider-parallax">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container " >
				    <div class="vertical-middle">

				        <div id="section-about" class="page-section">

					        <div class="container clearfix"> <!--clearfix removed-->

                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';"> {{ thread.name }} <small><small>({{ asset.asset_display_name }} | {{ subject.name }}) </small> </small></h2>

                                    {% if errors %}
                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}

                                        {% if thread %}
                                            <div>
                                            {{ thread.user.first_name }} {{ thread.user.last_name }} |
                                                    {{ thread.created_at | started_time}} | {{ thread.num_views }}
                                                {%  with total=thread.num_views %}view{{ total|pluralize }}{%  endwith %}
                                                <p><small>Latest post: {% last_posted_user_name thread %}</small></p>
                                            </div>

                                            <p>
                                                <a href="{% url 'new_post' asset.id subject.id thread.id %}" class="btn btn-primary">New post</a>
                                            </p>

                                            {% for post in thread.posts.all %}

                                                {% include 'post.html' %}

                                            {% endfor %}

                                        {% endif %}



                                    {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}