{% extends 'base.html' %}
{% load forum_extras %}

    {% load bootstrap_tags %}
    {% block content %}
    {% load staticfiles %}
        {% block head_style %}
            <style>
                .opacity9{
                    opacity:2;
                }
            </style>
        {% endblock %}

		<section id="slider" class="full-screen  ">

			<div class="full-screen section nopadding nomargin noborder ohidden" style="background: url({% static 'myimages/login1.jpg' %}) bottom center no-repeat; background-size: cover;">

				<div class="container " >
				    <div class="vertical-middle">

                                <div class="fancy-title title-bottom-border">
                                <h2 data-animate="fadeInDown" class="divleft bottommargin font-body ls3" style="max-width: 700px;font-style: italic; font-size: 40px; font-family: 'Playfair Display';"> {{ asset.asset_display_name }} | {{ subject.name }} </h2>
                                </div>
                                    {% if errors %}
                                        {% for error in errors %}
                                            <p style="color:red">{{ error }}</p>
                                        {% endfor %}
                                    {% else %}

                                        {% if subject %}


                                            <div id="faqs" class="faqs">

                                                {% for thread in subject.threads.all %}

                                                        <ul class="iconlist faqlist">
                                                            <li><i class="icon-caret-right"></i><strong><a href="{{ thread.id }}">{{ thread.name }}
                                                                <span class="badge">{{ thread | get_total_thread_posts }}</span>
                                                                </a></strong><br>
                                                            <span><small>Latest Post by: {{ thread | last_posted_user_name }}</small></span></li>
                                                        </ul>

                                                {% endfor %}
                                                {%  if thread %}
                                                <div class="divider divider-right"><i class="icon-heart"></i></div>
                                                {% endif %}


                                            </div>

                                            <p>
                                            <a href="{% url 'forum' asset.id %}" class = "t400 capitalize button button-border button-blue button-circle nomargin"><< Back to Forum</a>
                                                <a href="{%  url 'new_thread' asset.id subject.id %}" class = "t400 capitalize button button-border button-blue button-circle nomargin">New {{ subject.name }} Thread</a>

                                            </p>














{#                                                {% for thread in subject.threads.all %}#}
{#                                                        {% include "thread_item.html" %}#}
{#                                                {% endfor %}#}



                                        {% endif %}

                                    {% endif %}

                                    <div class="clear"></div>

                                    <div class="row topmargin-lg divcenter" style="max-width: 1000px;"></div>



				            </div>

                       </div>

					</div>
				</div>

			</div>

		</section> <!--#slider end -->



    {% endblock %}